html {
  zoom: 95%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner-store {
  background-image: url('img/banner-lojas.jpg');
  background-position: center;
}

.margin-l1 {
  margin-left: 1rem;
}

.margin-l10 {
  margin-left: 10rem;
}
.margin-l20 {
  margin-left: 20rem;
}
.margin-l5 {
  margin-left: 5rem;
}

.logo-l15 {
    width: 15%;
}

.bc-teal {
  background-color: #455050!important;
}